.button-styling {
    position: relative;
    top: -683px;
    left: -150px;
}

#random-button {
    position: absolute; 
    top: -45px;
    left: 42px;
}

#topic-name {
    margin-top: -75px;
    position: absolute; 
    top: 185px;
    left: -45px;
    margin-left: 195px;
    
  }

#topic {
    border: 3px solid whitesmoke;
    margin-top: -35px;
    margin-left: 150px;
    margin-right: 150px;
    position: absolute;
    top: 300px;
}